// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~vuejs-dialog/dist/vuejs-dialog.min.css';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.modal-footer a{
    border-radius: 0.25rem;
}

ul{
    margin: auto;
}

li{
    margin: 0 2rem;
}

.button {
    margin-top: 35px;
}

.ghost {
    transition: 0s;
    opacity: 0.5;
    background: #c8ebfb;
}

#app{
    position: relative;
}

.scroll{
    overflow-y: auto;
}

.list-group{
    height: 45rem;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #c8ebfb; 
    border-radius: 5px;

}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #9edcf8;
}

h3{
    text-align: center;
    background: #c8ebfb;
    margin: 0 1px;
    padding: 10px 0;
}

h3 span{
    padding: 0 10px; 
    background: #fff;
    margin: 0 15px;
}

.colonne{
    margin-bottom: 30px;
    padding: 0;
}

.ml0{
    margin-left: 0;
}

.mr0{
    margin-right: 0;
}

.position-absolute{
    right: 30px;
    top: 30px;
}